@{
    ViewData["Title"] = "Movies List";
}
@model MovieReviewSite.Core.Models.Movie.ViewModels.AllMoviesListVewModel


<h1 class="display-4">Welcome</h1>
<br>

<h2> List of all available movies </h2>

@* search bar  *@
<div>
    @using (Html.BeginForm( new {id = "searchRequest"}))
    {
        <input type="text" placeholder="Search" aria-label="Search" id="searchTerm">
        <button id="searchButton" type="submit" class="btn btn-primary">Search</button>
    }
    <table style="width:100% ; border: black; border-collapse: separate " id="movieTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Rating</th>
            <th>ReleaseDate</th>
            <th>AgeRate</th>
        </tr>
        </thead>
        <tbody id="tableData">
        @if (Model.Movie != null)
        {
            @foreach (var movie in Model.Movie!)
            {
                <tr>
                    <td>
                        <a asp-action="MovieDetailsView" asp-controller="Movie" asp-route-id="@movie.Id">@Html.DisplayFor(m => movie.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(m => movie.Duration) min
                    </td>
                    <td>
                        @Html.DisplayFor(m => movie.Score)
                    </td>
                    <td>
                        @Html.DisplayFor(m => movie.ReleaseDate, "{MM/dd/yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(m => movie.AgeRating!.Title)
                    </td>
                     @* buttons for reviews *@
                    <td>
                        <a asp-action="GetReviewByMovieIdView" asp-controller="Review" asp-route-id="@movie.Id">@movie.ReviewsCount Reviews</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" style="background-color : #137354" asp-action="AddReviewView" asp-controller="Review" asp-route-id="@movie.Id">Review</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/Movie/SearchMovie.js"></script >

}
