@using Microsoft.IdentityModel.Tokens
@model MovieReviewSite.Core.Models.User.ViewModel.UserDetailsViewModel

@{
    ViewData["Title"] = @Html.DisplayFor(u => u.UserBaseInfo!.UserName);
}

@{
    ViewData["Title"] = "Movie Details";

}
<h1> @Html.DisplayFor(u => u.UserBaseInfo!.Name) </h1>


<div>
    <br>
    <h3>Details:</h3>
    <p style="border-style: solid; padding: 10px">
        @Html.DisplayNameFor(u => u.UserBaseInfo!.UserName) : @Html.DisplayFor(u => u.UserBaseInfo!.UserName)
        <br>
        @Html.DisplayNameFor(u => u.UserBaseInfo!.Email) : @Html.DisplayFor(u => u.UserBaseInfo!.Email)
        <br>
        @Html.DisplayNameFor(u => u.UserBaseInfo!.Role!.Role) : @Html.DisplayFor(u => u.UserBaseInfo!.Role!.Role)
        <br>
    </p>
</div>

@* update user buttons *@
<br>
<div>
    <a class="btn btn-primary" asp-controller="User" asp-action="GetUserUpdateView" asp-route-id="@Model.UserBaseInfo!.Id">Edit</a>
    <a class="btn btn-primary" asp-controller="Password" asp-action="ChangeUserPasswordView" asp-route-id="@Model.UserBaseInfo!.Id">ChangePassword</a>
</div>
<br>

@* user movie list buttons *@
<br>
<div>
    <a asp-controller="Movie" asp-action="UserWatchedMoviesView" asp-route-id="@Model.UserBaseInfo!.Id" class="btn btn-success">Watched List</a>
    <a asp-controller="Movie" asp-action="UserWantToWatchMoviesView" asp-route-id="@Model.UserBaseInfo!.Id" class="btn btn-warning">Want To Watch List</a>
</div>
<br>


<h3>Reviews:</h3>
<ul>
    @foreach (var review in Model.UserReviews)
    {
        <div style="border-style: solid; padding: 10px">
            @if (@review.Title.IsNullOrEmpty())
            {
                <a class="horizontal-item" asp-controller="Review" asp-action="GetReviewDetailsView" asp-route-id="@review.Id">Untitled</a>
            }
            <a class="horizontal-item" asp-controller="Review" asp-action="GetReviewDetailsView" asp-route-id="@review.Id">@Html.DisplayFor(r => review.Title)</a>|Movie :
            <a class="horizontal-item" asp-action="MovieDetailsView" asp-controller="Movie" asp-route-id="@review.Movie.Id">@Html.DisplayFor(r => review.Movie.Title)</a>
            <p style="color: darkgray" class="horizontal-item">CreatedOn : @review.CreatedOn</p>
        </div>
    }
</ul>
<div>
    <p style="color:dimgray "> Created On : @Html.DisplayFor(u => u.UserBaseInfo!.CreatedOn, "{MM/dd/yyyy}") | Last Modifies On : @Html.DisplayFor(u => u.UserBaseInfo!.LastModifiedOn, "{MM/dd/yyyy}")</p>

</div>

<div>
    @using (Html.BeginForm("DeactivateUser", "User", FormMethod.Post, new {id = "deactivateUser"}))
    {
        <button type="submit" id="deactivateUser" class="btn btn-danger">Deactivate User</button>
    }
</div>

@section Scripts
{
    <script src="~/js/User/DeactivateUser.js"></script>
}
