@model MovieReviewSite.Core.Models.Review.ViewModels.ReviewDetailsModelView

@{
    ViewData["Title"] = "Review";
}

<h1>@Html.DisplayFor(r => r.Review.Title)</h1>
<h2 style="color: dimgray">@Html.DisplayFor(r => r.Review.Movie.Title)</h2>

@* Review Title *@
<p>
    <a style="font-size: small" asp-action="GetUserDetailView" asp-controller="User" asp-route-id="@Model.Review.User!.Id">@Html.DisplayFor(r => r.Review.User!.UserName)</a>|Score: @Html.DisplayFor(r => r.Review.Score)|@Html.DisplayFor(r => r.Review.LikesCount) Likes
</p>


@* Review text *@
<span style="border-style: solid;border-color: dimgray">
    @Html.DisplayFor(r => r.Review.Review)
</span>
<br>
<br>

<span>
    @* edit button *@
    <a asp-action="UpdateReviewView" asp-controller="Review" asp-route-id="@Model.Review.Id" type="submit" class="btn btn-primary">Edit</a>
    <br>
    @* delete review button *@
    @using (Html.BeginForm("DeleteReview", "Review", FormMethod.Post, new {id = "deleteReview"}))
    {
        <button type="submit" class="btn btn-primary" style="background-color: #730c1d">Delete</button>
    }
</span>

<br>


@* Comments List *@
<h4>@Html.DisplayFor(r => r.Review.CommentsCount) Comments</h4>
<ul>
    @foreach (var comment in Model.Review.Comments!)
    {
        <div style="border-style: solid; padding: 10px">
            <p style="font-style: oblique; font-size: large">
                @Html.DisplayFor(r => comment.User!.Name)
            </p>
            <a style="font-size: small" asp-action="GetUserDetailView" asp-controller="User" asp-route-id="@comment.User!.Id">
                @Html.DisplayFor(r => comment.User.UserName)
            </a>
            <br>
            <br>
            <span>
                @Html.DisplayFor(r => comment.Comment)
            </span>
            <p style="color:dimgray "> Created On : @Html.DisplayFor(c => comment.CreatedOn, "{MM/dd/yyyy}")</p>
        </div>
        <br>

// adding comment
    }
</ul>

<div>
    @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new {id = "submitForm"}))
    {
        <label id="Submit">
            Add Comment:
        </label>
        <input id="comment" asp-for="AddedComment!.Comment" type="text" class="form-control">
        <button type="submit" id="comment" class="btn btn-primary" style="background-color: #137354">Post</button>
    }
</div>


<div >
    <p style="color:dimgray "> CreatedOn :@Html.DisplayFor(r => r.Review.CreatedOn, "{MM/dd/yyyy}") | LastModifiesOn :@Html.DisplayFor(r => r.Review.LastModified, "{MM/dd/yyyy}") </p >
</div >

@section Scripts
{
    <script src="~/js/Comment/WriteComment.js"></script >
    <script src="~/js/Review/DeleteReview.js"></script>
}
