@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieReviewSite.Core.Models.Review.ViewModels.UpdateReviewViewModel

@{
    Layout = "_Layout";
}

<h2>Edit Review</h2>

@using (Html.BeginForm("UpdateReview", "Review", FormMethod.Post, new {id = "submitForm"}))
{
    @Html.LabelFor(r => r.DTO!.Title)
    <input value="@Model.Review!.Title" asp-for="DTO!.Title" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(r => r.DTO!.Review)
    <input value="@Model.Review!.Review "asp-for="DTO!.Review" type="text" class="form-control"/>
    <br>

    <label for="GivenRate">Rate: </label>
    <select class="form-select" name="GivenRate" id="GivenRate">
        <option value="0"></option>
        <option value="11">⭐⭐⭐⭐⭐</option>
        <option value="10">⭐⭐⭐⭐.5</option>
        <option value="9">⭐⭐⭐⭐</option>
        <option value="8">⭐⭐⭐.5</option>
        <option value="7">⭐⭐⭐</option>
        <option value="6">⭐⭐.5</option>
        <option value="5">⭐⭐</option>
        <option value="4">⭐.5</option>
        <option value="3">⭐</option>
        <option value="2">0.5</option>
        <option value="1">0</option>
    </select>

    <input type="hidden" value="@Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier))" id="userId">
    <button type="submit" class="btn btn-primary" style="background-color: #1e7316">Accept Changes</button>
}

@section Scripts
{
    <script src="~/js/Review/UpdateReview.js"></script>
}
