@using System.Security.Claims
@model MovieReviewSite.Core.Models.Crew.Requests.NewCrewRequest

@{
    Layout = "_Layout";
}

<h2>Add Crew Details</h2>

@using (Html.BeginForm("AddCrew", "Crew", FormMethod.Post, new { id = "submitForm" }))
{

    @Html.LabelFor(c =>c.FirstName)
    <input asp-for="FirstName" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(c =>c.LastName)
    <input asp-for="LastName" type="text" class="form-control"/>
    <br>
    
    @Html.LabelFor(c =>c.MiddleName)
    <input asp-for="MiddleName" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(c =>c.BirthDate)
    <input asp-for="BirthDate" type="date" class="form-control"/>
    <br>
    
    <input type="hidden" value="@Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier))" id="userId">
    <button type="submit" class="btn btn-primary"  >Add Crew</button>
    }

@section Scripts{

    <script src="~/js/Crew/AddCrew.js"></script>
}
