@using Microsoft.IdentityModel.Tokens
@model MovieReviewSite.Core.Models.Crew.ViewModels.AllCrewViewModel

@{
    ViewBag.Title = "Crew List";
    Layout = "_Layout";
}

<div>
    <a asp-controller="Crew" asp-action="AddCrewView" class="btn btn-primary">Add Crew</a>
</div>
<br>

<h2>All Crew :</h2>
<br>
<div>
    <form method="get" asp-controller="Crew" asp-action="GetAllCrewListView" class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search" name="SearchString" value="@ViewData["CurrentFilter"]"/>
        <input type="submit" value="Search" class="btn btn-secondary my-2 my-sm-0"/>
    </form>
</div>
<br>
<div>
    <table style="width:100% ; border: black; border-collapse: separate " id="movieTable">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody id="tableData">
        @foreach (var crew in Model.Crew!)
        {
            <tr>
                <td>
                    @if (crew.FullName.IsNullOrEmpty())
                    {
                        <a asp-controller="Crew" asp-action="GetCrewDetailsView" asp-route-id="@crew.Id">Untitled</a>
                    }
                    <a asp-controller="Crew" asp-action="GetCrewDetailsView" asp-route-id="@crew.Id">@Html.DisplayFor(m => crew.FullName)</a>
                </td>
                <td>
                    <a asp-action="UpdateCrewView" asp-controller="Crew" asp-route-id="@crew.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/Crew/DeleteCrew.js"></script>
}
