@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MovieReviewSite.Core.Enums
@model MovieReviewSite.Core.Models.Crew.ResponseBase.CrewDetails?

@{
    ViewData["Title"] = @Html.DisplayFor(c => c!.FullName);

}
<h1> @Html.DisplayFor(c => c.FullName) </h1>

@* buttons to edit or delete crew *@
<div>
    @if (User.FindFirstValue(ClaimTypes.Role) == Roles.Admin.ToString())
    {
        if (User.FindFirstValue(ClaimTypes.Role) == Roles.Vip.ToString())
        {
            <a asp-controller="crew" asp-action="UpdateCrewView" asp-route-id="@Model!.Id" class="btn btn-primary">Edit</a>
        }
        <br>
        @using (Html.BeginForm("DeleteCrew", "Crew", FormMethod.Post, new {id = "deleteCrew"}))
        {
            <input type="hidden" value="@Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier))" id="userId"/>
            <button class="btn btn-outline-danger" type="submit">Delete</button>
        }
    }
</div>

<br>

<h4> Movies: </h4>
<br>
<form method="get" asp-controller="Crew" asp-action="GetCrewDetailsView" class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search" name="searchString" value="@ViewData["CurrentFilter"]"/>
    <button type="submit" value="Search" class="btn btn-secondary my-2 my-sm-0">Search</button>
</form>
<br>
<table style="width:100% ; border: black; border-collapse: separate; border: solid;border-color: dimgray ">
    <tr class="table-primary">
        <th>
            Name
        </th>
        <th>
            Credit
        </th>
        <th>
            Duration
        </th>
        <th>
            Rating
        </th>
        <th>
            ReleaseDate
        </th>
        <th>
            AgeRate
        </th>
    </tr>
    @foreach (var item in Model.MoviesList!)
    {
        <tr>
            <td>
                <a asp-action="MovieDetailsView" asp-controller="Movie" asp-route-id="@item.Id">@Html.DisplayFor(m => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(c => item.CrewType!.Title)
            </td>
            <td>
                @Html.DisplayFor(c => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(c => item.Score)
            </td>
            <td>
                @Html.DisplayFor(c => item.ReleaseDate, "{MM/dd/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(c => item.AgeRating!.Title)
            </td>
            <td>
                <a asp-action="AddReviewView" asp-controller="Review" asp-route-id="@item.Id" class="btn-primary">Review</a>
            </td>
        </tr>
    }
</table>
<br>

<div>
    <p style="color:dimgray "> Created On : @Html.DisplayFor(c => c!.CreatedOn, "{MM/dd/yyyy}") | Last Modifies On : @Html.DisplayFor(c => c!.LastModifiedOn, "{MM/dd/yyyy}")</p>

</div>

@section Scripts
{
    <script src="~/js/Crew/DeleteCrew.js"></script>
}
