@model MovieReviewSite.Core.Models.Crew.ViewModels.ModifyCrewForMovieViewModel

@{
    ViewBag.Title = @Model.Movie!.Name!;
    Layout = "_Layout";
}

<h2> @ViewData["Title"] Crew :</h2>

<div>
    <div>
            <select class="form-select" name="genres" id="movieGenres">

                @foreach (var item in Model.MovieCrew!)
                {
                    <option value="@item.Id">@item.FullName | @item.CrewType.Title </option>
                    <option type="hidden" id="movieCrewId" value="@item.Id"></option>
                    <option type="hidden" id="movieCrewTypeCode" value="@item.CrewType.Id"></option>
                }
            </select>
        </div>
    @using (Html.BeginForm("RemoveCrewFromMovie", "Crew", FormMethod.Post, new {id = "deleteCrew"}))
    {
        <div>
            <btn id="deleteCrew" class="btn btn-danger" type="submit">Remove Crew</btn>
        </div>
    }
</div>
<br>
<br>
<div>
        <div>
            @* database genres *@
            <div>
                <label>All Genres :</label>
                <select class="form-select" name="genres" id="genres">
                    @foreach (var item in Model.AllCrew!.Where(item => Model.MovieCrew.All(mg => mg.Id != item.Id)))
                    {
                        <option value="@item.Id">@item.FullName</option>
                        <option type="hidden" id="crewId" value="@item.Id"></option>
                    }
                </select >
            </div>
            @* crew types *@
            <div>
                <label>Crew Types :</label>
                <select class="form-select" name="genres" id="genres">
                    @foreach (var item in Model.CrewType!)
                    {
                        <option value="@item.Id">@item.Title</option>
                        <option type="hidden" id="typeCode" value="@item.Id"></option>
                    }
                </select >
            </div>
        </div>
        <br>
    @using (Html.BeginForm("AddCrewToMovie", "Crew", FormMethod.Post, new {id = "addCrew"}))
    {
        <div>
            <btn id="addCrew" class="btn btn-primary" type="submit" style="background-color: #1e7316">Add Crew</btn>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/Crew/AddCrewToMovie.js"></script>
    <script src="~/js/Crew/DeleteCrewFromMovie.js"></script>
}
