@using System.Security.Claims
@model MovieReviewSite.Core.Models.Crew.ViewModels.UpdateCrewViewModel

@{
    ViewBag.Title = @Model.Crew!.FullName!;
    Layout = "_Layout";
}

<h2> Update @ViewData["Title"]:</h2>

@using (Html.BeginForm("UpdateCrew", "Crew", FormMethod.Post, new {id = "submitForm"}))
{
    @Html.LabelFor(c => c.Crew!.FirstName)
    <input id="FirstName" value="@Model.Crew.FirstName" asp-for="DTO!.FirstName" type="text" class="form-control" />
    <br>

    @Html.LabelFor(c => c.Crew!.LastName)
    <input id="LastName" value="@Model.Crew.LastName" asp-for="DTO!.LastName" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(c => c.Crew!.MiddleName)
    <input id="MiddleName" value="@Model.Crew.MiddleName" asp-for="DTO!.MiddleName" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(c => c.Crew!.BirthDate)
    <input id="BirthDate" value="@Model.Crew.BirthDate" asp-for="DTO!.BirthDate" type="text" class="form-control"/>
    <br>
    <input type="hidden" value="@Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier))" id="userId">
    <button type="submit" class="btn btn-primary">Apply Changes</button>
                                                        
}

@section Scripts
{
    <script src="~/js/Crew/UpdateCrew.js"></script>
}
