@model MovieReviewSite.Core.Models.Genre.ViewModel.ModifyMovieGenreViewModel

@{
    ViewBag.Title = @Model.Movie!.Name!;
    Layout = "_Layout";
}

<h2> @ViewData["Title"] Genres :</h2>

@* movies genres *@
<div style="border-style: solid; border-color: dimgray ; padding: 5px ;">
    @foreach (var item in Model.MovieGenres!)
    {
        <br>
        <ul style="padding: 5px ; justify-content: left ;display:inline-block;">
            <btn id="@item!.Id" class="btn btn-primary" style="background-color: #34496a" type="button"> @Html.DisplayFor(m => item.Title)</btn>
        </ul>
        <br>
    }
</div>

<div>
<br>
@* database genres *@
<h3>All Genres :</h3>
<br>
<div style="border-style: solid; border-color: dimgray ; padding: 5px ;">
    @foreach (var item in Model.AllGenres!.Where(item => Model.MovieGenres.All(mg => mg.Id != item.Id)))
    {
        <ul style="padding: 5px ; justify-content: left ;display:inline-block;">
            <btn id="@item.Id" class="btn btn-primary" style="background-color: #34496a" type="button"> @Html.DisplayFor(m => item.Title)</btn>
        </ul>
    }
</div>
</div>
<br>
<div>
    <btn id="add" class="btn btn-primary" type="submit" style="background-color: #1e7316">Add Genre</btn>
    <btn id="delete" class="btn btn-danger" type="submit">Delete Genre</btn>
</div>
