@model MovieReviewSite.Core.Models.Genre.ViewModel.ModifyMovieGenreViewModel

@{
    ViewBag.Title = @Model.Movie!.Name!;
    Layout = "_Layout";
}
<h2>Modify Genres</h2>

@* removing genre *@
 @using (Html.BeginForm("RemoveGenreByMovieId", "Genre", FormMethod.Post, new {id = "deleteGenre"}))
    {
<div>
        <div>

            @* database genres *@
            <div>
                <label>Genres :</label>
                <select class="form-select" name="genres" id="movieGenreId">
                    @foreach (var item in Model.MovieGenres!)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
        </div>
        <br>
        <div>
            <button id="deleteGenre" class="btn btn-danger" type="submit" >Remove Genre</button>
        </div>
</div>
    }
<br>
<br>
@* adding genre *@
    @using (Html.BeginForm("AddGenreByMovieId", "Genre", FormMethod.Post, new {id = "addGenre"}))
    {
<div>
        <div>

            @* database genres *@
            <div>
                <label>Shrek Genres :</label>
                <select class="form-select" name="genres" id="GenreId">
                    @foreach (var item in Model.AllGenres!.Where(item => Model.MovieGenres.All(mg => mg.Id != item.Id)))
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
        </div>
        <br>
        <div>
            <button id="addGenre" class="btn btn-primary" type="submit" style="background-color: #1e7316">Add Genre</button>
        </div>
</div>
    }

@section Scripts
{
    <script src="~/js/Genre/ModifyGenreForMovie.js"></script>
}
