@model MovieReviewSite.Core.Models.Movie.Request.NewMovie

@{
    ViewData["Title"] = "Add A Movie";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("AddMovie", "Movie", FormMethod.Post, new { id = "submitForm" }))
{

    @Html.LabelFor(m => m.Name)
    <input asp-for="Name" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(m => m.Synopsis)
    <input asp-for="Synopsis" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(m => m.Duration)
    <input asp-for="Duration" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(m => m.ReleaseDate)
    <input asp-for="ReleaseDate" type="text" class="form-control"/>
    <br>

    @Html.LabelFor(m => m.Type)
    <input asp-for="Type" type="text" class="form-control"> 
    @* @Html.DropDownListFor(m => m.AgeRate, new SelectList(new[] *@
    @*                                                                { *@
    @*                                                                    AgeRate.G, AgeRate.R, AgeRate.NC17, AgeRate.PG, AgeRate.PG13 *@
    @*                                                                })) *@
    <br>

    @Html.LabelFor(m => m.AgeRate)
    <input asp-for="AgeRate" type="text" class="form-control"> 
    @* @Html.DropDownListFor(m => m.AgeRate, new SelectList(new[] *@
    @*                                                            { *@
    @*                                                                MovieType.Animation, MovieType.Series, MovieType.MiniSeries , MovieType.FeatureFilm , MovieType.ShortFilm *@
    @*                                                            })) *@
    <br>
    <button type="submit" class="btn btn-primary"  >Add Movie</button>

}



@section Scripts{
    
<script src="~/js/Movie/AddMovie.js"></script>
}
